<div class="modal-body">
  <p class="fs-5">
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p class="fs-5 mt-5">
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p class="fs-5 my-5">
    <strong>Status:</strong>
    <%= post.status %>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
</div>