
<h2>Posts List</h2>
<%= link_to "Create Post", new_post_path, class: "btn btn-primary text-white my-3", data: {bs_toggle: 'modal', bs_target: '#newPostModal', remote: true} %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="fs-5">ID</th>
      <th class="fs-5">Title</th>
      <th class="fs-5">Description</th>
      <th class="fs-5">Status</th>
      <th class="fs-5">User ID</th>
      <th class="fs-5">Created At</th>
      <th class="fs-5">Updated At</th>
    </tr>
  </thead>

  <tbody id="postsTable">
    <% @posts.each do |post| %>
      <%= render 'post_row',post: post %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_url, class: "btn btn-dark text-white" %>


<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby=newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPostModalLabel">Create New Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id= "newPostForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby=editPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id= "editPostForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showPostModal" tabindex="-1" aria-labelledby=showPostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showPostModalLabel">Post Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id= "showPostDetails">
      </div>
    </div>
  </div>
</div>