<div class="modal-body">
<p class="fs-5">
  <strong>Name:</strong>
  <%= user.name %>
</p>

<p class="fs-5 mt-5">
  <strong>Mobile:</strong>
  <%= user.mobile %>
</p>

<p class="fs-5 mt-5">
  <strong>Email:</strong>
  <%= user.email %>
</p>

<p class="fs-5 my-5">
  <strong>Address:</strong>
  <%= user.address %>
</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>

</div>
